* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

body {
    background-color: #CFDEF4;
    max-width: 1040px;
    margin: 0 auto;
}

h2 {
    /* font-size: 45px; */
    font-size: 30px;
}

h3 {
    /* font-size: 39px; */
    font-size: 25px;
}

h4 {
    /* font-size: 35px; */
    font-size: 22px;
}

h5 {
    /* font-size: 25px; */
    font-size: 18px;
}




/* /////    HEADER     ///// */

h4.left {
    text-transform: uppercase;
    font-weight: bolder;
}

.header {
    /* width: 100vw; */
    display: flex;
    justify-content: space-between;
    height: 112px;
    align-items: center;
}

header .right {
    display: flex;
}

.sign_in {
    background-color: black;
    color: white;
    width: 150px;
    text-align: center;
    border: none;
    border-radius: 30px;
    padding: 12px 40px;
    font-size: 16px;
    font-weight: bold;
}

ul.header_links {
    /* justify-content: center; */
    display: flex;
}

ul.header_links li {
    list-style-type: none;
    margin-right: 30px;
    display: flex;
    /* display: inline-block; */
    align-items: center;
}


/* /////    ИСКРА     ///// */

div.name {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E01387;
}

div h1 {
    font-size: 135px;
    font-weight: bolder;
    text-transform: uppercase;
}

.name_h2 {
    font-size: 39px;
    text-transform: uppercase;
    line-height: 89%;
    color: rgba(0, 0, 0, 0.6);
}

.main_image_text {
    /* border: 1px solid black; */
    border-radius: 30px;
    box-sizing: border-box;
    /* padding: 60px; */
    margin: 0 0 30px 0;
    /* background-color: #F2FBFF; */
}

.main_image {
    border-radius: 30px;
    /* border: 2px solid #E01387; */
    max-width: 1040px;
    box-sizing: border-box;
    margin: 0 auto;
}

.main_text {
    margin: 30px 0 60px;
}

/* /////    НАШИ УСЛУГИ     ///// */

.product_h4 {
    margin: 60px 0;
    text-transform: uppercase;
    font-weight: bolder;
}

.products {
    display: flex;
    justify-content: space-between;
}

.left {
    display: unset;
}
.right {
    display: unset;
}

.blue {
    border: 2px solid #0279DE;
    transition: 0.5s;

}

.blue:hover {
    background-color: #0279DE;
    color: white;
    transition: 0.5s;
}

.pink {
    border: 2px solid #E01387;
    transition: 0.5s;
}

.pink:hover {
    background-color:#E01387;
    color:white;
    transition: 0.5s;
}

.black {
    border: 2px solid black;
    transition: .5s;
}

.black:hover {
    background-color: black;
    color:white;
    transition: 0.5s;
}

.rectangle {
    box-sizing: border-box;
    padding: 60px;
    border-radius: 30px;
    /* color: white; */
    color: black;
    margin-bottom: 30px;

    background-color: white;
    /* border: 1px solid black; */
}

.left .rectangle {
    max-width: 590px;
}

.right .rectangle {
    max-width: 420px;
}

.rectangle h2{
    /* text-transform: uppercase; */
    font-weight: bolder;
    word-break: break-all;
}

.rectangle .text {
    margin-top: 30px;
    font-weight:300;
}