.body {
    background-color: #F3F9FD;

}

@media screen and (min-width:1700px){
    .body {
        width: 1400px;
    }

}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
scroll-behavior: smooth;    
}

.background {
    /* background-color: #9CB7D4; */
}

.body {
    margin: 0 auto;
    padding: 0 10vw;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 13px;
}