.news {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    flex-wrap: wrap;

    scrollbar-color: #FF2359 #e4e4e4;
}


.news_box {
    max-width: 32%;
    margin-bottom: 2%;
    /* flex: 1 0 200px; */

    border: 1px solid black;
    padding: 30px;
    /* margin:0 15px 30px; */
    box-sizing: border-box;
    background-color: white;
}

.news_image {
    width: 100%;
    /* object-fit: cover; */
    
}

.news h3{
    margin: 15px 0;
    font-weight: 600;
}

@media screen and (max-width: 950px) { 

.news_box {
    max-width: 48%;
    margin-bottom: 30px;
}

}

@media screen and (max-width: 650px) {

    .news_box {
        max-width: 100%;
    }

}