.gallery {
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    /* justify-content: center; */
    align-content: flex-start;
    scrollbar-color: #FF2359 #e4e4e4;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.gallery_image {
    max-width: 32%;
    margin-bottom: 2%;
    align-content: flex-start;
}
/* ::-webkit-scrollbar {
    height: 10px;

  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #FF2359;
  } */


@media screen and (max-width: 900px) { 

.gallery_image {
    max-width: 48%;
    margin-bottom: 30px;
    align-content: flex-start;
}
}

@media screen and (max-width: 500px) { 
  .gallery_image {
    max-width: 100%;
  }
}