* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

.background {
    background-color: #9CB7D4;
}

body {
    background-color: #CFDEF4;
    box-shadow: 0 0 60px rgba(71, 112, 157, 0.5);
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 60px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

a{
    font-size: 22px;
    text-decoration: none;
    color: inherit;
    margin: auto 0;
}



/* ////////////////////    HEADER     //////////////////// */

h4.left {
    text-transform: uppercase;
    font-weight: bolder;
    color: #164678;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 112px;
    align-items: center;
}

header .right {
    display: flex;
}

a button {
    /* background-color: black; */
    background-color: #E01387;
    color: white;
    width: 150px;
    text-align: center;
    border: none;
    border-radius: 30px;
    padding: 12px 40px;
    font-size: 20px;
    /* font-weight: bold; */
    transition: .5s;
}

.sign_in:hover {
    background-color: #0279DE;
    transition: .5s;
}

ul.header_links {
    display: flex;
}

ul.header_links li {
    list-style-type: none;
    margin-right: 30px;
    display: flex;
    align-items: center;
    color: rgba(9, 50, 85, 0.5);
    transition: .5s;
}

ul.header_links li:hover {
    color: black;
    transition: .5s;
}


/* /////////////////////    ИСКРА     ///////////////////// */
.first_slide {
    display: flex;
    margin: 60px 0;
    /* display: inline; */
}

div.name {
    margin: 0px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    color: #E01387;
    width: 400px;
    margin-right: 30px;
}

.name img {
    width: 100%;
    margin-bottom: 30px;
}

div h1 {
    font-size: 135px;
    font-weight: bolder;
    text-transform: uppercase;
}



.name_h2 {
    font-size: 39px;
    text-transform: uppercase;
    line-height: 89%;
    /* color: rgba(0, 0, 0, 0.6); */
    color: #164678;
}

.main_image_text {
    /* border-radius: 30px; */
    /* box-sizing: border-box; */
    /* margin: 0 0 30px 0; */
    /* width: 100%; */
}

.main_image {
    border-radius: 30px;
    width: 100%;
    /* width: calc(50% -30px); */
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    /* margin: 0 auto; */
}

.main_text {
    margin: 30px 0 0;
    color: #3E5F82;
}

/* /////////////////////    НАШИ УСЛУГИ     ///////////////////// */

.product_h3 {
    margin: 60px 0;
    text-transform: uppercase;
    font-weight: bolder;
    color: #164678;
}

.products {
    /* display: flex;
    justify-content: space-between; */
    display: inline;
}

.left {
    display: unset;
}
.right {
    display: unset;
}

.blue {
    border: 2px solid #0279DE;
    transition: 0.5s;
    color: #164678;
}

.blue:hover {
    background-color: #0279DE;
    color: white;
    transition: 0.5s;
}

.pink {
    border: 2px solid #E01387;
    transition: 0.5s;
    color: #823E5B;
}

.pink:hover {
    background-color:#E01387;
    color:white;
    transition: 0.5s;
}

.black {
    border: 2px solid black;
    transition: .5s;
    color: #595959;
}

.black:hover {
    background-color: black;
    color:white;
    transition: 0.5s;
}

.black.no_hover{
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.white_text {
    color: white;
}

.half_white_text {
    color: rgba(255,255,255, 0.8);
}

.rectangle {
    box-sizing: border-box;
    padding: 60px;
    border-radius: 30px;
    /* color: black; */
    margin-bottom: 30px;
    background-color: white;
}

.products .left {
    /* max-width: 590px; */
    /* width: calc(50%-15px); */
    min-width: 50%;
    margin-right: 30px;
}

.products .right{
    /* max-width: 420px; */
    min-width: 50%;
}

.rectangle h2{
    font-weight: bolder;
    word-break: break-all;
}

.rectangle .text {
    margin-top: 30px;
    font-weight:300;
}

/* ///////////////////////    ЦЕНЫ    /////////////////////// */
.rectangle.no_hover h3{
    margin-bottom: 15px;
}
.rectangle.white {
    margin: 15px 30px 0 0;
}

.ceny {
    display: flex;
    align-items: center;
}

.white_rectangles {
    display: flex;
}

.rectangles_ceny {
    display: flex;
    justify-content: space-between;
}

.left_ceny, .right_ceny {
    width: calc(50% - 15px);
}

.left_ceny {
    background-color:#E01387;
}

.right_ceny {
    background-color: #0279DE;
}

.ceny_plus {

}

.right_ceny_plus, .left_ceny_plus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_ceny_plus h5{
    /* margin-left: 30px; */
    width: 150px;
}


.line_ceny {
    margin: 15px 0;
}