@media screen and (min-width: 1200px) {

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    transition: 0.5s;


    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    background-color: red;
    /* background-color: #fff; */
}


header.sticky{
    /* background: #fff; */
    /* background: #E1EFFB; */
    /* background: #fff; */
    padding: 20px 10%;
    /* box-shadow: 0 5px 20px rgba(22,70,120,0.3); */
    /* box-shadow: 0 2px 0px rgba(22,70,120,0.3); */
    border-bottom: 1px solid #164678;
}


li {
    display: inline;
    margin-right: 30px;
}

li, button {
    font-size: 16px;
}

li a {
    text-decoration: none;
    color: #47709D;

}

li a:hover {
    color: #164678;
}

.logo {
    color: #164678;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

.header_right {
    display: flex;
    align-items: center;

}

.sign_in {
    border: none;
    padding: 15px 30px;
    color: white;
    background-color: #E01387;
}

.sign_in:hover {
    color: #fff;
    background-color: #164678;
    cursor: pointer;
}
}

/* ////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\ */

@media screen and (max-width: 1200px) {

    
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    transition: 0.5s;


    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    background-color: #fff;
}


header.sticky{
    /* background: #fff; */
    /* background: #E1EFFB; */
    /* background: #fff; */
    padding: 20px 10%;
    /* box-shadow: 0 5px 20px rgba(22,70,120,0.3); */
    /* box-shadow: 0 2px 0px rgba(22,70,120,0.3); */
    border-bottom: 1px solid #164678;
}


li {
    display: none;
    margin-right: 30px;
}

li, button {
    font-size: 16px;
}

li a {
    text-decoration: none;
    color: #47709D;

}

li a:hover {
    color: #164678;
}

.logo {
    color: #164678;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

.header_right {
    display: flex;
    align-items: center;

}

.sign_in {
    border: none;
    padding: 15px 30px;
    color: white;
    background-color: #E01387;
}

.sign_in:hover {
    color: #fff;
    background-color: #164678;
    cursor: pointer;
}
}